/* .footerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background: rgba(255, 255, 255, 0.42);

} */

/* .footer {
    min-height:50px; 
  background:PapayaWhip;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #282828;
    color: #625d5d;
    margin-bottom: 0;
    padding: 20px;
    z-index: 1;

} */
/* 
.footerList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    color: #282828;
    margin: 0;
    padding: 0;
    gap: 30px;

}

.footerItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.footerText {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    border-bottom: 2px solid #212223;
    margin: 0;

}

.footerSocial {
    align-items: flex-start;
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.footerSocLink {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    margin-right: 20px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; 
}*/

@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.footer {
  background: rgb(41, 41, 41);
  background: -moz-linear-gradient(
    180deg,
    rgba(41, 41, 41, 1) 0%,
    rgba(24, 30, 48, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(41, 41, 41, 1) 0%,
    rgba(24, 30, 48, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(41, 41, 41, 1) 0%,
    rgba(24, 30, 48, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#292929",endColorstr="#181e30",GradientType=1);
  height: 100%;
  width: 100%;
} 

.container {
  font-family: "Merriweather", serif;
  font-size: 2rem;
}

.titleAndLink{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2rem;
  color: #eee;
}

.socialList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
  list-style-type: none;
  font-size: 2rem;
}

.socialList{
  padding: 1rem;
} 

.fab {
  font-size: 5rem;
}

/* transition for social icon hover animation */
.fafacebook,
.fa-codepen,
.fa-youtube,
.fa-instagram,
.fa-github,
.fa-pinterest {
  transition: 0.4s;
  cursor: pointer;
}

/* social media icons hover color */
.fa-facebook:hover,
.fa-facebook:focus {
  color: #1877f2;
  transform: scale(1.1);
}

.fa-twitter:hover,
.fa-twitter:focus {
  color: #1da1f2;
  transform: scale(1.1);
}

.fa-youtube:hover,
.fa-youtube:focus {
  color: #df2426;
  transform: scale(1.1);
}

.fa-instagram:hover,
.fa-instagram:focus {
  color: #bd22a2;
  transform: scale(1.1);
}

.fa-github:hover,
.fa-github:focus {
  color: #000;
  transform: scale(1.1);
}

.fa-github:hover,
.fa-github:focus {
  color: #000;
  transform: scale(1.1);
}

.fa-codepen:hover,
.fa-codepen:focus {
  color: #000;
  transform: scale(1.1);
}

.fa-pinterest:hover,
.fa-pinterest:focus {
  color: #b3001b;
}
